<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
            background: #252525;
            color: white;
        }

    </style>
</head>
<body>
    <h1>%s | %s</h1>
</body>
</html>